.bg-container {
    background-color: #195796;
}

select {
    background-color: #195796;
    color: white;
    padding: 10px 3px 10px;
    border-radius: 4%;
    border: 1px solid white;
    margin-left:10px;
}

.findCe {
    color: white !important;
    font-size: 1.2em

}

.search { 
    padding:6px 15px 6px 30px;
    margin:3px; 
}

.input-group-text, .form-control {
    background-color: white !important;
    border : 0px
}

.nav-link{
    color: #8fadcc;
}

.nav-link:hover,
.nav-link:focus{
    color:white;
    border-bottom: 4px solid #15c37e !important;
}